{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ColdWhere-EDI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static  'main/assets/vendor/bootstrap/css/bootstrap.min.css'  %}">

    <link rel="stylesheet" href="{% static  'main/assets/vendor/font-awesome/css/font-awesome.min.css'  %}">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="{% static  'main/assets/css/font.css'  %}">

    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static  'main/assets/css/style.default.css'  %}">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static  'main/assets/css/custom.css'  %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static  'main/assets/img/favicon.ico'  %}">

    <style>

        .block{

 margin-top:12px;
 }

#comapnyname option {
background: #555555;
}

#activeloads option {
background: #555555;
}


 </style>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">

            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <!-- Navbar Header--><a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Cold</strong><strong>Where</strong></div>
                        <div class="brand-text brand-sm"><strong class="text-primary">C</strong><strong>W</strong></div>
                    </a>
                    <!-- Sidebar Toggle Btn-->
                    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
                </div>
                <div class="right-menu list-inline no-margin-bottom">


                    <!-- Log out               -->
                    <div class="list-inline-item logout"> <a id="logout" href="{% url 'main:logout' %}" class="nav-link">Logout <i class="icon-logout"></i></a></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">

            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="{% url 'main:index' %}"> <i class="icon-home"></i>Home </a></li>
                <li class="active"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Settings</a>

                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li ><a href="{% url 'main:account' %}">Account Creation</a></li>
                            <li class="active"><a href="#">Status Report</a></li>

                    </ul>
                </li>

        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">EDI Status Report</h2>
                </div>
            </div>
            <!-- Breadcrumb-->
            <div class="container-fluid">

            </div>

            <section class="no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Basic Form-->
                        <div class="col-lg-8 offset-lg-2">
                            <div class="block">
                                <div class="block-body">
                                  
                                    <form>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-control-label" for="comapnyname">Company Name</label>
                                            <div class="input-group-prepend">
                                                <select name="comapnyname"  id = "comapnyname" class="form-control col-lg-12">
                                                    <option value="selectedvalue" selected disabled>Select a company</option>
                                                    {% for value in dropdown%}
                                                    <option value={{value.email}}>{{value.name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="activeloads">Active loads</label>
                                            <div class="input-group-prepend">
                                                <select name="activeloads" id = "activeloads" class="form-control col-lg-12">
                                                    <option value="selectedvalue" selected disabled>Select a load</option>
                                                </select>
                                            </div>
                                        </div>
                     <div class="form-group">
                       <label class="form-control-label" for = "filepath">File Path</label>
                       <input type="text" id ="filepath" placeholder="Path where your file will be saved" class="form-control">
                     </div>
                     <div class="form-group">
                       <label class="form-control-label" for= "filename">File Name</label>
                       <input type="text" id= "filename" placeholder="Name of the  your file" class="form-control">
                     </div>
                                        <center>
                                            <div class="form-group">
                                                <input type="submit" id="status" value="Generate Status" class="btn btn-primary">
                                            </div>
                                        </center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <footer class="footer">
                <div class="footer__block block no-margin-bottom">
                    <div class="container-fluid text-center">
                        <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        <p class="no-margin-bottom">2019 &copy; Design by <a href="https://www.coldwhere.com/">ColdWhere</a>.</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="{% static  'main/assets/vendor/jquery/jquery.min.js'  %}"></script>
    <script src="{% static  'main/assets/vendor/popper.js/umd/popper.min.js'  %}"> </script>
    <script src="{% static  'main/assets/vendor/bootstrap/js/bootstrap.min.js'  %}"></script>
    <script src="{% static  'main/assets/vendor/jquery.cookie/jquery.cookie.js'  %}"> </script>

    <script src="{% static  'main/assets/vendor/jquery-validation/jquery.validate.min.js'  %}"></script>
    <script src="{% static  'main/assets/js/charts-home.js'  %}"></script>
    <script src="{% static  'main/assets/js/front.js'  %}"></script>
    <script>
    $( document ).ready(function() {
    disablingFields(["activeloads","filepath", "filename","status"])
    $('#comapnyname').change(function () {
        document.getElementById("activeloads").disabled = true;
        disablingEmptyFields(["filepath","filename"]);
        var select = document.getElementById("activeloads");
        console.log (select.length)
        if (select.length > 0){
        select.options.length = 0
        }
        var option_element = document.createElement("option");
       option_element.textContent ="Select a load"
       option_element.value ="selected_value";
       select.appendChild(option_element);

        selectVal = $('#comapnyname').val();
        if (selectVal != "selectedvalue") {
        populatingDropdowns()
   }
}) // event handler of the drop down ends.

 // keeping track of the other dropdown.
 $('#activeloads').change(function () {
         disablingEmptyFields(["filepath","filename"]);
     selectVal = $('#activeloads').val();
          if (selectVal != "selectedvalue"){
           
            connecting_ftpAccount()
        }
          else
              document.getElementById("filepath").disabled = true;
 });


}); // ready func .
$("#status").click(function(){
    generatingReport();
});

function connecting_ftpAccount(){
    $.ajax({
        url :  "{% url 'main:establishingConnection' %}",
        type: "post",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}' ,
        },
        success: function(response) {
            console.log(response)
            if( response !== "No Ftp Account is associated with it."){
                document.getElementById("filepath").disabled = false;
            }
            else {
                alert ("Sorry , You dont have any FTP Account associated with this company")
            }
        },
        error: function(jqXHR, textStatus, errorThrown){
           alert("Sorry , You dont have any FTP Account associated with this company")
}

        
}) // ajax call ends
}
// generating report
function generatingReport(){
    $.ajax({
        url :  "{% url 'main:generating_report' %}",
        type: "post",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}' ,
             "device_record": $('#activeloads').val(),
            "file_path": $("#filepath").val(),
            "file_name":$("#filename").val(),
        },
        success: function(response) {
            console.log(response)
            alert("Sucessful")
        },
        error: function(jqXHR, textStatus, errorThrown){
           alert("Some thing went wrong.")
}
}) // ajax call ends
}
function disablingFields(textfields){
 	for (i = 0; i < textfields.length; i++) {
	document.getElementById(textfields[i]).disabled=true;
		}
 }

 function enablingField(textfields){
   for (i = 0; i < textfields.length; i++) {
	if ((!document.getElementById(textfields[i]).value) && (!document.getElementById(textfields[i]).disabled )) {
		break;
		}

	else if ((!document.getElementById(textfields[i]).value) && document.getElementById(textfields[i]).disabled ) {
		document.getElementById(textfields[i]).disabled=false;
		break;
		}

   }
  }
  function disablingEmptyFields(textfields){
  	for (i = 0; i < textfields.length; i++) {
 	if (!document.getElementById(textfields[i]).value )
 	document.getElementById(textfields[i]).disabled=true;
 		}
  }
  function validatingAboveFields(textfields){
       var checkingStatus = false;
  	   for (i = 0; i < textfields.length; i++) {
  		textfield = $(textfields[i]).val().trim()
    // checking  the fields .
    if ((textfield.length) > 0) {
  		checkingStatus = true ;
  		}
  	else if ((textfield.length) < 0) {
  		checkingStatus = false ;
  		break ;
  		}
     }
  	return checkingStatus;
  	}


 function populatingDropdowns(){
     $.ajax({
         url :  "{% url 'main:report'%}",
         type: "post",
         data: {
             csrfmiddlewaretoken: '{{ csrf_token }}' ,
             company_email: $('#comapnyname').val().trim(),
         },
         success: function(response) {
             console.log(response)
             var select = document.getElementById("activeloads");
             for(var i=0;i<response.dropdown.length; i++){
              var option_element = document.createElement("option");
             option_element.textContent = response.dropdown[i].load_number;
             option_element.value =  response.dropdown[i].id_device_load_record;
             select.appendChild(option_element);
     }
         select.disabled=false;
         },
         error: function(jqXHR, textStatus, errorThrown){
            alert("Some thing went wrong.")
 }

 }) // ajax call ends
 }
  // validating fields

       $('#filepath').on('keyup',function(){
               var textvalue = $(this).val().trim();
               if ((textvalue.length >0) ) {
                 enablingField(["filename"]);
       		}
       		else if ((textvalue.length  == 0)) {
             disablingEmptyFields(["filename"]);
       		}
        });

        $('#filename').on('keyup',function(){
                var textvalue = $(this).val().trim();
        		var status = validatingAboveFields(["#filepath"]);
                if ((textvalue.length >0) && status ) {
                    document.getElementById("status").disabled = false;
        		}
        		else if ((textvalue.length  == 0)) {
                        document.getElementById("status").disabled = true;
        		}
         });

    </script>


</body>

</html>
