{% load  staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ColdWhere-EDI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static  'main/assets/vendor/bootstrap/css/bootstrap.min.css'  %}">

    <link rel="stylesheet" href="{% static  'main/assets/vendor/font-awesome/css/font-awesome.min.css'  %}">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="{% static  'main/assets/css/font.css'  %}">

    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static  'main/assets/css/style.default.css'  %}" >
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static  'main/assets/css/custom.css'  %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static  'main/assets/img/favicon.ico'  %}">

   <style>

   .block{

   margin-top:12px;
   }

   
#comapnyname option {
background: #555555;
}
   </style>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg">

        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
            <!-- Navbar Header--><a href="{% url 'main:index' %}" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Cold</strong><strong>Where</strong></div>
              <div class="brand-text brand-sm"><strong class="text-primary">C</strong><strong>W</strong></div></a>
            <!-- Sidebar Toggle Btn-->
            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
          <div class="right-menu list-inline no-margin-bottom">


            <!-- Log out  -->
            <div class="list-inline-item logout"> <a id="logout" href="{% url 'main:logout' %}" class="nav-link">Logout <i class="icon-logout"></i></a></div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">

        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
                <li ><a href="{% url 'main:index' %}"> <i class="icon-home"></i>Home </a></li>
                <li class="active"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>EDI</a>

                  <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                    <li class="active"><a href="#">Account Creation</a></li>
                        <li><a href="{% url 'main:report' %}">Status Report</a></li>
                </li>

      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">EDI Registration</h2>
          </div>
        </div>
       <!-- Breadcrumb-->
        <div class="container-fluid">

        </div>

       <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              <!-- Basic Form-->
              <div class="col-lg-8 offset-lg-2">
                <div class="block">
                  <div class="block-body">
                    <form><div class="form-group">
                        <label class="form-control-label" for="comapnyname">Company Name</label>
                        <div class="input-group-prepend">
                            <select name="comapnyname"  id = "comapnyname" class="form-control col-lg-12">
                                <option value="selectedvalue" selected disabled>Select a company</option>
                                {% for value in dropdown%}
                                <option value={{value.email}}>{{value.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="form-control-label" for="iphost"> IP Address</label>
                        <input type="text" id = "iphost" placeholder="IP Address of your ftp account" class="form-control">
                      </div>
					  <div class="form-group">
                        <label class="form-control-label" for = "username">User Name</label>
                        <input type="text" id = "username" placeholder="User name of your ftp account" class="form-control">
                      </div>
					  <div class="form-group">
                        <label class="form-control-label" for = "pass">Password</label>
                        <input type="password" id = "pass"placeholder="Password of your ftp account" class="form-control">
                      </div>
					  <div class="form-group">
                        <label class="form-control-label" for = "inputpath">Input Path</label>
                        <input type="text" id ="inputpath" placeholder="Path where you will place your input files" class="form-control">
                      </div>
					  <div class="form-group">
                        <label class="form-control-label" for= "outputpath">Output Path</label>
                        <input type="text" id= "outputpath" placeholder="Path where your output files will get stored" class="form-control">
                      </div>
					  <div class="form-group">
                      <input id="checking"  type="checkbox" name="checking"  class="checkbox-template">
                      <label for="checking"><b>Do you have different account for output? </b></label>
                    </div>
					  <div class="form-group" style="display:none" id = "iphostoutdiv">
                        <label class="form-control-label" id ="iphostoutlabel" for = "iphostout">IP Address&nbsp(output)</label>
                        <input type="text" id ="iphostout" placeholder="IP address of your second ftp account" class="form-control">
                      </div>
					  <div class="form-group" style="display:none" id = "usernameoutdiv">
                        <label class="form-control-label" id ="usernameoutlabel" for = "usernameout">User Name &nbsp(output)</label>
                        <input type="text" id = "usernameout" placeholder="User name of your second ftp account" class="form-control">
                      </div>
                      <div class="form-group" style="display:none" id = "passoutdiv">
                        <label class="form-control-label" id ="passoutlabel" for = "passout">Password &nbsp(output)</label>
                        <input type="password" id = "passout" placeholder="Password of your second ftp account" class="form-control">
                      </div>
					  <center>
                      <div class="form-group">
                        <input type="submit" id ="register" value="Create Account" class="btn btn-primary">
                      </div>
					  </center>
                    </form>
                  </div>
                </div>
              </div>





          </div>
        </section>
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
              <!-- Please do not remove the backlink to us unless you support us at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              <p class="no-margin-bottom">2018 &copy; Design by <a href="https://www.coldwhere.com">ColdWhere</a></p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="{% static  'main/assets/vendor/jquery/jquery.min.js'  %}"></script>
    <script src="{% static  'main/assets/vendor/popper.js/umd/popper.min.js'  %}"> </script>
    <script src="{% static  'main/assets/vendor/bootstrap/js/bootstrap.min.js'  %}"></script>
    <script src="{% static  'main/assets/vendor/jquery.cookie/jquery.cookie.js'  %}"> </script>

    <script src="{% static  'main/assets/vendor/jquery-validation/jquery.validate.min.js'  %}"></script>
    <script src="{% static  'main/assets/js/charts-home.js'  %}"></script>
    <script src="{% static  'main/assets/js/front.js'  %}"></script>
	<script>
	var checkboxStatus = false ;
    $( document ).ready(function() {
    refreshing();
	$('input[type="checkbox"]').click(function(){
		if($(this).prop("checked") == true){
		checkboxStatus = true ;
		displayingFields(["#iphostoutdiv", "#usernameoutdiv", "#passoutdiv","#iphostout","#iphostoutlabel","#usernameoutlabel","#usernameout","#passout","#passoutlabel"]);
		document.getElementById("register").disabled = true;
		document.getElementById("iphostout").disabled = false;
		document.getElementById('iphostout').focus();
		}
		else if($(this).prop("checked") == false){
		checkboxStatus = false ;
		hidingFields(["#iphostout","#iphostoutlabel","#usernameoutlabel","#usernameout","#passout","#passoutlabel"]);
		document.getElementById("register").disabled = false;
		disablingFields(["iphostout","usernameout","passout"]);
		makingTextFieldEmpty(["iphostout","usernameout","passout"]);

		}
	});
 /// button functionality .
                $("#register").click(function(){
              // mean all textfields are not enabled . (ip and out ips are same)
                       email =   $('#comapnyname').val();
                       inputPath = $("#inputpath").val()
                       outputPath= $("#outputpath").val()
                        if($("input[name=checking]").prop('checked') == true){
                             var ip_hostIn = $("#iphost").val();
                             var user_nameIn = $("#username").val();
                             var passwordIn =$("#pass").val();
                             var ip_hostOut = $("#iphostout").val();
                             var user_nameOut = $("#usernameout").val();
                             var passwordOut =$("#passout").val()
                       }
                       else {
                           var ip_hostIn = $("#iphost").val();
                           var user_nameIn = $("#username").val();
                           var passwordIn =$("#pass").val();
                           var ip_hostOut = $("#iphost").val();
                           var user_nameOut = $("#username").val();
                           var passwordOut =$("#pass").val();
                       }


                       $.ajax({
                           url :  "{% url 'main:account'%}",
                           type: "post",
                           data: {
                               csrfmiddlewaretoken: '{{ csrf_token }}' ,
                                "email":email,
                               "iphost": ip_hostIn ,
                                "username": user_nameIn,
                                "password": passwordIn,
                               "inputpath":inputPath,
                                "outputpath":outputPath,
                               "iphostOut":ip_hostOut,
                               "usernameOut":user_nameOut,
                               "passwordOut":passwordOut

                           },
                           success: function(response) {
                            //   makingTextFieldEmpty(["IPhostOut", "userNameout", "passwordOut", "password", "userName", "inputPath", "outputPath", "Iphost"]);
                               alert("data inserted !")
                           },
                           error: function(jqXHR, textStatus, errorThrown){

                              alert("data inserted !!!")
                  }

                       })

      });

 /// button functionality ends here .
  });
  function refreshing(){
  // document.getElementById('iphost').focus();
  // document.getElementById('iphost').value = '';
  disablingFields(["iphost","username","pass","inputpath",
	"outputpath","checking","register","iphostout","usernameout","passout"]);
	  makingTextFieldEmpty(["iphost","username","pass","inputpath",
	"outputpath","iphostout","usernameout","passout"]);


  }

   	function makingTextFieldEmpty(textfieldArray){
		for (i = 0; i < textfieldArray.length; i++) {
			document.getElementById(textfieldArray[i]).value = "";
		}
	}

  function disablingFields(textfields){
 	for (i = 0; i < textfields.length; i++) {
	document.getElementById(textfields[i]).disabled=true;
		}
 }
  function disablingEmptyFields(textfields){
 	for (i = 0; i < textfields.length; i++) {
	if (!document.getElementById(textfields[i]).value )
	document.getElementById(textfields[i]).disabled=true;
		}
 }

  function hidingFields(textfields){
  for (i = 0; i < textfields.length; i++) {
			$(textfields[i]).fadeOut(1000);
		}
  }

  function displayingFields(textfields){
	for (i = 0; i < textfields.length; i++) {
			$(textfields[i]).fadeIn(1000);
		}
  }

   function enablingField(textfields){
   for (i = 0; i < textfields.length; i++) {
	if ((!document.getElementById(textfields[i]).value) && (!document.getElementById(textfields[i]).disabled )) {
		break;
		}

	else if ((!document.getElementById(textfields[i]).value) && document.getElementById(textfields[i]).disabled ) {
		document.getElementById(textfields[i]).disabled=false;
		break;
		}

   }
  }

   function validatingAboveFields(textfields){
     var checkingStatus = false;

	   for (i = 0; i < textfields.length; i++) {
		textfield = $(textfields[i]).val().trim()


	if ((textfield.length) > 0) {

		checkingStatus = true ;

		}

	else if ((textfield.length) < 0) {
		checkingStatus = false ;
		break ;
		}
   }

	return checkingStatus;
	}

    $('#comapnyname').change(function () {
        selectVal = $('#comapnyname').val();
        if (selectVal != "selectedvalue") {
        document.getElementById("iphost").disabled = false;
    }
    }) // event handler of the drop down ends.
 $('#iphost').on('keyup',function(){
        // vaidating input.
        var textvalue = $(this).val().trim();
		// value of the input field next to it .
        if ((textvalue.length >0)) {
		 //document.getElementById("username").disabled = false;
		 	enablingField(["username","pass","inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}
		else if ((textvalue.length  == 0)) {
		disablingEmptyFields(["username","pass","inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}

		});
   $('#username').on('keyup',function(){
        // vaidating cuurent input.
        var textvalue = $(this).val().trim();
		// validating the previous text fields .
		var status =  validatingAboveFields(["#iphost"]);
			console.log(status);
        if ((textvalue.length >0) && status ){
		 //document.getElementById("pass").disabled = false;
		 enablingField(["pass","inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}
		else if ((textvalue.length  == 0)) {
		disablingEmptyFields(["pass","inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}

 });
   $('#pass').on('keyup',function(){
        // vaidating input.
        var textvalue = $(this).val().trim();
		var status = validatingAboveFields(["#iphost" , "#username"]);
        if ((textvalue.length >0) && status) {
		 //document.getElementById("inputpath").disabled = false;
		 enablingField(["inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}
		else if ((textvalue.length  == 0)) {
		disablingEmptyFields(["inputpath",
		"outputpath","iphostout","usernameout","passout"]);
		}
 });
   $('#inputpath').on('keyup',function(){
        // vaidating input.

        var textvalue = $(this).val().trim();
		var status = validatingAboveFields(["#iphost","#username" ,"#pass"]);
        if ((textvalue.length >0) && status ) {
		 //document.getElementById("outputpath").disabled = false;
		enablingField(["outputpath","iphostout","usernameout","passout"]);
		}
		else if ((textvalue.length  == 0)) {
		disablingEmptyFields(["outputpath","iphostout","usernameout","passout"]);
		}
 });
    $('#outputpath').on('keyup',function(){
        // vaidating input.

        var textvalue = $(this).val().trim();
		var status = validatingAboveFields(["#iphost","#username", "#pass","#inputpath"]);

		  console.log("length "+textvalue.length);
		  console.log("status: "+ status);
		  console.log("cb: "+ checkboxStatus );

        if ((textvalue.length >0)&& status && (!checkboxStatus )) {
		 document.getElementById("checking").disabled = false;
		 document.getElementById("register").disabled = false;
		}
		else if ((textvalue.length >0)&& (status) && (checkboxStatus)) {

		 document.getElementById("checking").disabled = false;
		  enablingField(["iphostout","usernameout","passout"]);
		}

		else if ((textvalue.length  == 0)) {
		disablingEmptyFields(["iphostout","usernameout","passout"]);
		}
 });


	$('#iphostout').on('keyup',function(){
		var textvalue = $(this).val().trim();
			var status = validatingAboveFields(["#iphost" , "#username" ,
			"#pass","#inputpath","#outputpath"]);
			if ((textvalue.length >0) && status) {
			 enablingField(["usernameout","passout"]);

			}
			else if ((textvalue.length  == 0)) {
			disablingEmptyFields(["usernameout","passout"]);

					}
		 });

  $('#usernameout').on('keyup',function(){
				// vaidating input.
				var textvalue = $(this).val().trim();
				var status = validatingAboveFields(["#iphost" , "#username" ,
			"#pass","#inputpath","#outputpath","#iphostout"]);
				if ((textvalue.length >0) && status) {
			 enablingField(["passout"]);

			}
			else if ((textvalue.length  == 0)) {
			disablingEmptyFields(["passout"]);

					}
		 });
	$('#passout').on('keyup',function(){
				// vaidating input.
				var status = validatingAboveFields(["#iphost" , "#username" ,
			"#pass","#inputpath","#outputpath","#iphostout"]);
				var textvalue = $(this).val().trim();
				if ((textvalue.length >0) && status) {
				 document.getElementById("register").disabled = false;
				}
		else if ((textvalue.length  == 0)) {
					document.getElementById("register").disabled = true;

							}
		 });
  </script>
  </body>
</html>
