{% load  staticfiles %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>ColdWhere- EDI</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'main/assets_form/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/assets_form/css/main.css' %}">
<!--===============================================================================================-->



    <link rel="apple-touch-icon" href="{% static 'main/images/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'main/assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/assets/css/pe-icon-7-filled.css' %}">


    <link href="{% static 'main/assets/weather/css/weather-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'main/assets/calendar/fullcalendar.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">
    <link href="{% static 'main/assets/css/charts/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/assets/css/lib/vector-map/jqvmap.min.css' %}" rel="stylesheet">


    <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

		#mainForm{
			position:relative;
			padding-left:100px;
			margin-left:220px;
			margin-bottom:45px;
		}

    </style>

</head>
<body>


    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'main:index'  %}"><i class="menu-icon fa fa-laptop"></i>Home </a>
                    </li>
                    <li class="menu-title">Account</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Settings</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="">New EDI Account</a></li>

                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->



    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">3</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span class="count bg-primary">4</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </div>
                                </a>
                                <a class="dropdown-item media" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                    <div class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i>My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-bell-o"></i>Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->


        <div class="content pb-0">


			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55" id = "mainForm">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-32">
						EDI ACCOUNT CREATION
					</span>

					<span class="txt1 p-b-11">
						Host-IP Address
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "IP host is required">
						<input class="input100" type="text" name="iphost" >
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						Username
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username">
						<span class="focus-input100"></span>
					</div>


					<span class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						Input Path
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Input Path is required">
						<input class="input100" type="text" name="inputpath" >
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						Output Path
					</span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate = "Output Path is required">
						<input class="input100" type="text" name="outputpathdir" >
						<span class="focus-input100"></span>
					</div>


					<div class="flex-sb-m w-full p-b-48">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="checking">
							<label class="label-checkbox100" for="ckb1">
							 Ouput directory have a different IP host?
							</label>
						</div>
					</div>

					<span class="txt1 p-b-11">
						Host-IP Address (Output)
					</span>

					<div class="wrap-input100 validate-input m-b-36" data-validate = "IP host is required">
						<input class="input100" type="text" name="iphostout" id = "IPhostOut"  >
						<span class="focus-input100"></span>
					</div>

					<span class="txt1 p-b-11">
						User Name (Output)
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required"  >
						<input class="input100" type="text" name="usernameout" id ="userNameout">
						<span class="focus-input100"></span>
					</div>
						<span class="txt1 p-b-11">
						Password (Output)
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="passout"  id = "passwordOut">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id = "submitForm">
							Register
						</button>
					</div>

				</form>
			</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'main/assets_form/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'main/assets_form/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>

<!--===============================================================================================-->
	<script src="{% static 'main/assets_form/js/main.js' %}"></script>
<!--===============================================================================================-->

	<script type="text/javascript">
	function makingTextFieldEmpty(textfieldArray){
		for (i = 0; i < textfieldArray.length; i++) {
			document.getElementById(textfieldArray[i]).value = "";
		}
	}

	function changingColor(textfieldArray,color){
		for (i = 0; i < textfieldArray.length; i++) {
			document.getElementById(textfieldArray[i]).style.backgroundColor = color;
		}
	}

	function changingTextFieldStatus(textfieldArray,status){
		for (i = 0; i < textfieldArray.length; i++) {
			$(textfieldArray[i]).prop('disabled', status);
		}

	}
    $(document).ready(function(){
		changingTextFieldStatus(["#IPhostOut", "#userNameout", "#passwordOut"], true);
		changingColor(["IPhostOut", "userNameout", "passwordOut"], "#cccccc");

        $('input[type="checkbox"]').click(function(){
            if($(this).prop("checked") == true){
				changingTextFieldStatus(["#IPhostOut", "#userNameout", "#passwordOut"], false);
				changingColor(["IPhostOut", "userNameout", "passwordOut"], "#fff");
			}
            else if($(this).prop("checked") == false){
				changingTextFieldStatus(["#IPhostOut", "#userNameout", "#passwordOut"], true);
			    changingColor(["IPhostOut", "userNameout", "passwordOut"], "#cccccc");
			    makingTextFieldEmpty(["IPhostOut", "userNameout", "passwordOut"]);

			}
        });


        $("#submitForm").click(function(){
            email =   "{{  cookie_email }}";
            inputPath = $("input[name=inputpath]").val()
            outputPath= $("input[name=outputpathdir]").val()
             if($("input[name=checking]").prop('checked') == true){
                  var ip_hostIn = $("input[name=iphost]").val();
                  var user_nameIn = $("input[name=username]").val();
                  var passwordIn =$("input[name=pass]").val();
                  var ip_hostOut = $("input[name=iphostout]").val();
                  var user_nameOut = $("input[name=usernameout]").val();
                  var passwordOut =$("input[name=passout]").val()
            }
            else {
                var ip_hostIn = $("input[name=iphost]").val();
                var user_nameIn = $("input[name=username]").val();
                var passwordIn =$("input[name=pass]").val();
                var ip_hostOut = $("input[name=iphost]").val();
                var user_nameOut = $("input[name=username]").val();
                var passwordOut =$("input[name=pass]").val();
            }

            $.ajax({
                url :  "{% url 'main:account'%}",
                type: "post",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}' ,
                    "email":email,
                    "iphost": ip_hostIn ,
                    "username": user_nameIn,
                    "password": passwordIn,
                    "inputpath":inputPath,
                    "outputpath":outputPath,
                    "iphostOut":ip_hostOut,
                    "usernameOut":user_nameOut,
                    "passwordOut":passwordOut

                },
                success: function(response) {
                    alert(response)
                }
            })
        });
    });
	</script>
        </div> <!-- .content -->
        <div class="clearfix"></div>

        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2018 Coldwhere
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by <a href="https://casadetech.com">Casadetech</a>
                    </div>
                </div>
            </div>
        </footer>

    </div><!-- /#right-panel -->
<div id="container">
</div>
</body>
</html>
